# Binaries
/wayland-scanner
cheese-*

# Go
*.test
*.out
*.prof
vendor/
go.work
go.work.sum

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Nix
result
result-*
.direnv/
.nix-shell-bin/

# Temporary files
*.tmp
*.bak
.*.swp
examples/rainbow/rainbow
examples/statusbar/statusbar
examples/vk-dmabuf/vk-dmabuf
apps/cheesebar/cheesebar
examples/with-toolkit/rainbow/main
examples/with-toolkit/vk-dmabuf/main.go
examples/with-toolkit/vk-dmabuf/vk-dmabuf-example
